@import '../node_modules/modern-normalize/modern-normalize.css';

html {
	scroll-behavior: smooth;
	height: 100%;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: "Apercu Arabic Pro Regular", sans-serif;
	line-height: 180%;
	background-color: #FFF;;
	color: #2D2D2D;
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

img, picture {
	display: block;
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	cursor: pointer;
}

button,
input,
select {
  margin: 0;
}

/* =========================== CUSTOM FONTS =========================== */

@font-face {
	font-display: swap;
	font-family: "Apercu Arabic Pro Medium";
	font-style: normal;
	font-weight: 500;
	src: url("./assets/fonts/ApercuArabicPro-Medium.eot")
			format("embedded-opentype"),
		url("./assets/fonts/ApercuArabicPro-Medium.woff2")
			format("woff2"),
		url("./assets/fonts/ApercuArabicPro-Medium.woff")
			format("woff"),
		url("./assets/fonts/ApercuArabicPro-Medium.ttf")
			format("truetype");
}

@font-face {
	font-display: swap;
	font-family: "Apercu Arabic Pro Regular";
	font-style: normal;
	font-weight: 400;
	src: url("./assets/fonts/ApercuArabicPro-Regular.eot")
			format("embedded-opentype"),
		url("./assets/fonts/ApercuArabicPro-Regular.woff2")
			format("woff2"),
		url("./assets/fonts/ApercuArabicPro-Regular.woff")
			format("woff"),
		url("./assets/fonts/ApercuArabicPro-Regular.ttf")
			format("truetype");
}
